<div class="container-fluid">
    <div class="container">
        <div class="row mt-5 justify-content-center">

            <div class="box d-flex flex-column align-items-center">
                <div class="bg d-flex flex-column justify-content-end">
                    <p class="mx-auto w-85 text-center details-fs">An Angular and Spring Java application for a restaurant business with user reservations and employee management.</p>
                    <button class="details-btn d-block mx-auto cssbuttons-io-button">More details</button>
                </div>
                <img class="img" src="../../../assets/hamburgeria.png" alt="">
                <h2 class="animation mt-3 mb-0 fw-bolder fs-5">HAMBURGERIA</h2>
            </div>

            <div class="box d-flex flex-column align-items-center">
                <div class="bg d-flex flex-column justify-content-end">
                    <p class="mx-auto w-85 text-center details-fs">A Spotify clone website built with HTML, CSS, and JavaScript.</p>
                    <button class="details-btn d-block mx-auto cssbuttons-io-button">More details</button>
                </div>
                <img class="img" src="../../../assets/spotify.png" alt="">
                <h2 class="animation mt-3 mb-0 fw-bolder fs-5">SPOTIFY CLONE</h2>
            </div>

            <div class="box d-flex flex-column align-items-center">
                <div class="bg d-flex flex-column justify-content-end">
                    <p class="mx-auto w-85 text-center details-fs">A Netflix clone website built with Angular. Full responsive.</p>
                    <button class="details-btn d-block mx-auto cssbuttons-io-button">More details</button>
                </div>
                <img class="img" src="../../../assets/spotify.png" alt="">
                <h2 class="animation mt-3 mb-0 fw-bolder fs-5">NETFLIX CLONE</h2>
            </div>

            <div class="box d-flex flex-column align-items-center">
                <div class="bg d-flex flex-column justify-content-end">
                    <p class="mx-auto w-85 text-center details-fs">A Medium clone website built with HTML, CSS, and JavaScript. Full responsive.</p>
                    <button class="details-btn d-block mx-auto cssbuttons-io-button">More details</button>
                </div>
                <img class="img" src="../../../assets/medium.png" alt="">
                <h2 class="animation mt-3 mb-0 fw-bolder fs-5">MEDIUM CLONE</h2>
            </div>

            <div class="box d-flex flex-column align-items-center">
                <div class="bg d-flex flex-column justify-content-end">
                    <p class="mx-auto w-85 text-center details-fs">An introductory Angular application where I followed the typical Epicode layout for an app that allows task assignment to employees.</p>
                    <button class="details-btn d-block mx-auto cssbuttons-io-button">More details</button>
                </div>
                <img class="img" src="../../../assets/todo.png" alt="">
                <h2 class="animation mt-3 mb-0 fw-bolder fs-5">EPICODE STYLE TASKS</h2>
            </div>

            <div class="box d-flex flex-column align-items-center">
                <div class="bg d-flex flex-column justify-content-end">
                    <p class="mx-auto w-85 text-center details-fs">An Angular and Spring Java application for a restaurant business with user reservations and employee management.</p>
                    <button class="details-btn d-block mx-auto cssbuttons-io-button">More details</button>
                </div>
                <img class="img" src="../../../assets/spotify.png" alt="">
                <h2 class="animation mt-3 mb-0 fw-bolder fs-5 text-nowrap">EPICODE STYLE SOCIAL</h2>
            </div>

            <div class="box d-flex flex-column align-items-center">
                <div class="bg d-flex flex-column justify-content-end">
                    <p class="mx-auto w-85 text-center details-fs">A quiz website themed around Epicode, built with HTML, CSS, and JavaScript.<p>
                    <button class="details-btn d-block mx-auto cssbuttons-io-button">More details</button>
                </div>
                <img class="img" src="../../../assets/quiz.png" alt="">
                <h2 class="animation mt-3 mb-0 fw-bolder fs-5 text-nowrap">EPICODE STYLE QUIZ</h2>
            </div>

            <div class="box d-flex flex-column align-items-center">
                <div class="bg d-flex flex-column justify-content-end">
                    <p class="mx-auto w-85 text-center details-fs">An Angular application from an exercise themed around a car showroom.</p>
                    <button class="details-btn d-block mx-auto cssbuttons-io-button">More details</button>
                </div>
                <img class="img" src="../../../assets/autosalone.png" alt="">
                <h2 class="animation mt-3 mb-0 fw-bolder fs-5">CAR SHOWROOM</h2>
            </div>

        </div>
    </div>
</div>