
.banner {
    width: 100%;
    height: 100vh;
    text-align: center;
    position: relative;
}

.banner .slider {
    position: absolute;
    width: 200px;
    height: 250px;
    top: 15%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 60s linear infinite;
    will-change: transform;
}

@keyframes autoRun {
    from {
        transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
    }
    to {
        transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
    }
}

.banner .slider .item {
    position: absolute;
    inset: 0 0 0 0;
    transform: 
        rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(500px)
        rotateY(12deg);
   
}

.banner .slider .item img {
    width: 200%;
    height: auto;
    object-fit: cover;
    transform: rotateY(-10deg);
    transition: transform 0.7s ease; 
}


.banner .slider .item img:hover {
    transform: rotateY(-10deg) scale(1.06); 
    cursor: pointer; 
}

.banner .content {
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
    width: min(1400px, 100vw);
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.banner .content h1 {
    font-family: 'ICA Rubrik';
    font-size: 10em;
    line-height: 1em;
    color: #72b866;
    position: relative;
}

.banner .content h1::after {
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    z-index: 2;
    -webkit-text-stroke: 2px #d2d2d2;
    color: transparent;
}

.banner .content .author {
    font-family: 'Poppins';
    text-align: left;
    max-width: 800px;
    position: relative;
}

.banner .content h2 {
    font-size: 3em;
    color: white;
    -webkit-text-stroke: 2px black;
    line-height: 1em;
}

.banner .content h2:nth-last-child(2) {
    margin-bottom: 40px;
}

.svg {
    transform: translateY(58px);
}

.ologram {
    width: 300px;
    position: absolute;
    top: -100px;
    left: 550px;
    z-index: -1;
}

.dot {
    top: 35%;
    left: 48%;
    position: absolute;
    width: 1px;
    height: 1px;
    z-index: -1;
    box-shadow: 0px 0px 67px 27px #fff;
}

@media screen and (max-width: 1023px) {
    
}

/* @media screen and (max-width: 767px) {
    .banner .slider {
        width: 100px;
        height: 150px;
        left: calc(50% - 50px);
    }

    .banner .slider .item {
        transform: 
            rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
            translateZ(180px);
    }

    .banner .content h1 {
        font-size: 5em;
    }

   
} */







/* LAPTOP */
@media only screen and (max-width: 2000px) {
  
.banner .slider .item {
    position: absolute;
    inset: 0 0 0 0;
    transform: 
        rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(350px)
        rotateY(7deg);
   
}

.banner .slider .item img {
    width: 140%;
    height: auto;
    object-fit: cover;
    transform: rotateY(-10deg);
    transition: transform 0.7s ease; 
}
}


/* TABLET */
@media only screen and (max-width: 992px) {
    .container-fluid {
      transform: translateY(300px);
    }
  
    .banner .slider {
      top: 22%;
    }
  
    .banner .content {
      top: 67%;
      left: 0;
      transform: translateX(0%);
    }
    .no-scroll {
      overflow-y: visible!important;
      color: red;
    }
  
    .author{
      width: 100%;
    }
  
    .col-md-10 {
      padding-top: 20px;
      padding-bottom: 135px;
    }
  }

/* SMARTPHONE */
@media only screen and (max-width: 768px) {
    .banner .slider .item img {
        width: 140%;
    }

    .container-fluid {
        transform: translateY(150px);
      }
    
      .banner .slider {
        top: 15%;
      }
    
      .banner .content {
        top: 48%;
        left: 0;
        transform: translateX(0%);
      }
    
      .col-md-10 {
        padding-top: 0;
      }
    }