<div class="banner">
    <div class="slider" style="--quantity: 8">
        <a class="item" style="--position: 1" routerLink="/spotify-details"><img src="../../../assets/spotify.png" alt=""></a>
        <a class="item" style="--position: 2" routerLink="/hamburgeria-details"><img src="../../../assets/hamburgeria.png" alt=""></a>
        <a class="item" style="--position: 3" routerLink="/medium-details"><img src="../../../assets/medium.png" alt=""></a>
        <a class="item" style="--position: 4" routerLink="/quiz-details"><img src="../../../assets/quiz.png" alt=""></a>
        <a class="item" style="--position: 5" routerLink="/car-showroom-details"><img src="../../../assets/autosalone.png" alt=""></a>
        <a class="item" style="--position: 6" routerLink="/todo-details"><img src="../../../assets/todo.png" alt=""></a>
        <a class="item" style="--position: 7" routerLink="/netflix-details"><img src="../../../assets/spotify.png" alt=""></a>
        <a class="item" style="--position: 8" routerLink="/social-details"><img src="../../../assets/spotify.png" alt=""></a>
    </div>
    <div class="content">
        <!-- <h1 data-content="FABIO SCARAMOZZINO">
            FABIO SCARAMOZZINO
        </h1> -->
        <div class="author">
            <h2>FABIO</h2>
            <h2><b>SCARAMOZZINO</b></h2>
            <p>
                <b>Full Stack</b> developer with one year of experience, specializing in the design of advanced
                technological
                systems. I have honed my skills over the past nine months at <b>Epicode School</b>, combining in-depth
                study
                with intensive hands-on experience on <b>job-oriented projects</b>. My approach emphasizes creativity in
                designing innovative technological solutions, critical analysis in problem-solving, and a deep
                intellectual curiosity driving learning and improvement.
            </p>
        </div>
        <img class="ologram" src="../../../assets/holo.png" alt="">
    </div>
</div>