<div class="banner">
    <div class="slider" style="--quantity: 8">
        <a class="item" style="--position: 1" [routerLink]="['/my-projects', 'SpotifyClone']"><img src="../../../assets/img/spotify.png" alt=""></a>
        <a class="item" style="--position: 2" [routerLink]="['/my-projects', 'Hamburgeria']"><img src="../../../assets/img/hamburgeria.png" alt=""></a>
        <a class="item" style="--position: 3" [routerLink]="['/my-projects', 'MediumClone']"><img src="../../../assets/img/medium.png" alt=""></a>
        <a class="item" style="--position: 4" [routerLink]="['/my-projects', 'EpicodeStyleQuiz']"><img src="../../../assets/img/quiz.png" alt=""></a>
        <a class="item" style="--position: 5" [routerLink]="['/my-projects', 'CarShowroom']"><img src="../../../assets/img/autosalone.png" alt=""></a>
        <a class="item" style="--position: 6" [routerLink]="['/my-projects', 'EpicodeStyleTasks']"><img src="../../../assets/img/todo.png" alt=""></a>
        <a class="item" style="--position: 7" [routerLink]="['/my-projects', 'EpicodeStyleSocial']"><img src="../../../assets/img/social.png" alt=""></a>
        <a class="item" style="--position: 8" [routerLink]="['/my-projects', 'NetflixClone']"><img src="../../../assets/img/spotify.png" alt=""></a>
    </div>
    <div class="content">
        <!-- <h1 data-content="FABIO SCARAMOZZINO">
            FABIO SCARAMOZZINO
        </h1> -->
        <div class="author">
            <h2>FABIO</h2>
            <h2><b>SCARAMOZZINO</b></h2>
            <p>
                <b>Full Stack</b> developer with one year of experience, specializing in the design of advanced
                technological
                systems. I have honed my skills over the past nine months at <b>Epicode School</b>, combining in-depth
                study
                with intensive hands-on experience on <b>job-oriented projects</b>. My approach emphasizes creativity in
                designing innovative technological solutions, critical analysis in problem-solving, and a deep
                intellectual curiosity driving learning and improvement.
            </p>
        </div>
        <img class="ologram" src="../../../assets/holo.png" alt="">
    </div>
</div>