body {
    background-image: url('./assets/img/R.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::before{
    position: absolute;
    width: min(1400px, 90vw);
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    background-image: url('./assets/img/R.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: none;
}
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
