@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

h1 {
    font-family: 'ICA Rubrik';
    font-size: 6em;
    line-height: 1em;
    color: #245eae;
    text-shadow: 
    0 0 5px #023980,
    0 0 10px #214b84,
    0 0 15px #1d3961,
    0 0 20px #1d3961,
    0 0 25px #1d3961,
    0 0 30px #1d3961;
    position: relative;
}

.description {
    font-family: 'Poppins';
    font-size: large;
}

.picsum-img-wrapper img {
  display: block;
  width: 100%;
  height: auto;
}

ngb-carousel {
  width: 100%;
  margin: 70px auto;
}

/* THUMBNAILS */
.carousel-indicators {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  transform: translateY(39px);
}

::ng-deep .carousel-control-prev-icon,
::ng-deep .carousel-control-next-icon {
    background-color: black; /* Cambia questo colore con quello che desideri */
    border-radius: 100%;
    padding: 30px;
    filter: none; /* Rimuove eventuali filtri predefiniti */
}

.navbar-toggler {
  transition: none;
}

.thumbnail-button {
  border: none;
  margin: 0 5px;
  width: 100px;
  cursor: pointer;
}

.thumbnail-button img {
  width: 100px;
  height: auto;
}

.thumbnail-button.active img {
  border: 2px solid #007bff;
}

/* LAPTOP */
@media only screen and (max-width: 2000px) {
  .container-fluid {
    transform: translateY(200px);
  }

/* TABLET */
@media only screen and (max-width: 992px) {
  .container-fluid {
    transform: translateY(120px);
  }
  
  .img {
    width: 320px;
    height: 320px;
  }

  .carousel-indicators {
    transform: translateY(-176px);
    }

    h1 {
      font-size: 3.2rem;
    }
}

  /* SMARTPHONE */
@media only screen and (max-width: 768px) {
  .carousel-indicators {
    display: none;
    }

    h1 {
      font-size: 2.3rem;
    }

}
}
